@{
    ViewBag.Title = "yeniadmin";
    Layout = "~/Views/Shared/ViewPage2.cshtml";
}

<h2>YENİ ADMİN</h2>
<form  class="form-group" method="post">
    <div>

        <label>ADMİN KULLANICI ADI</label>
        <input type="text" class="form-control" name="admin_ka" />
    </div>
    <div>

        <label>ADMİN ŞİFRE</label>
        <input type="text" class="form-control" name="admin_sf" />
    </div>
    <div>
        <button class="btn btn-danger">ADMİN EKLE</button>
    </div>
</form>

