@{
    ViewBag.Title = "yenirol";
    Layout = "~/Views/Shared/ViewPage2.cshtml";
}

<h2>YENİ ROL</h2>
<form  class="form-group" method="post">
    <div>

        <label>ROL ADI</label>
        <input type="text" class="form-control" name="rol_adi" />
    </div>
    <div>
        <button class="btn btn-danger">ROL EKLE</button>
    </div>
</form>
