@{
    ViewBag.Title = "yenikategori";
    Layout = "~/Views/Shared/ViewPage2.cshtml";
}

<form  class="form-group" method="post">
    <div>
        <label>KATEGORİ ADI</label>
        <input type="text" class="form-control" name="kategori_adi" />

        <label>KATEGORİ AÇIKLAMA </label>
        <input type="text" class="form-control" name="kategori_aciklama" />

    </div>
    <div>
        <button class="btn btn-danger">KATEGORİ EKLE</button>
    </div>
</form>
