@{
    ViewBag.Title = "YENİ KATEGORİ";
    Layout = "~/Views/Shared/ViewPage2.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>ETİKET ADI</label>
        <input  type="text"class="form-control" name="etiked_adi"/>
    </div>
    <div>
        <button class="btn btn-success">ETİKET EKLE</button>
    </div>

</form>
