@{
    ViewBag.Title = "ÜYE OL";
}

<form action="/kullanici/uyeol" method="post">
    <table>
        <tr>
            <td>
                AD VE SOYAD:
            </td>
            <td>
            <input type="text" name="kullanici_adi" value=" " /></td>
        </tr>
        <tr>
            <td>
                KULLANICI ADI:
            </td>
            <td>
                <input type="text" name="kullaniciadi" value=" " />
            </td>
        </tr>
        <tr>
            <td>
                PAROLA:
            </td>
            <td>
                <input type="password" name="sifre" value=" " />
            </td>
        </tr>
        <tr>
            <td>
                MAİL:
            </td>
            <td>
                <input type="text" name="kullanici_mail" value=" " />
            </td>
        </tr>
        <tr>
            <td>
                CİNSİYET:
            </td>
            
             
               <td>   <input type="radio" name="rbkadin" value="KADIN " /> <span>KADIN</span></td>
               <td>    <input type="radio" name="rberkek" value="ERKEK " /> <span>ERKEK</span></td>
                
           
        </tr>
        <tr>
            <td>
                DOĞUM TARİHİ:
            </td>
            <td>
                <input type="date" name="dogumtarihi" value=" " />
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" name="name" value=" ÜYE  OL" />
            </td>
        </tr>
    </table>
</form>

